# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build and cmake helper files
build/
build_frc-cpp-sim/
CMakeFiles/

# Backup files made by editors
*~
